PPxCFG  = 
;---------------------------------------------------------------------------
;@desc ファイル判別
;@table X_uftyp, E_cr, E_scr, E_unpack2, XV_opts, XV_cols,
;---------------------------------------------------------------------------
X_exts	= 0
; 指定方法  判別方法 , コマンドライン
; 判別方法  1)拡張子判別      拡張子名
;           2)ファイル名判別  ファイル名.[拡張子名]
;           3)種別判別        ファイル種別名
;           4)全指定          *
;   E_xxx(xxxは任意)で任意のファイル判別を追加できる
;・X_exts=0
;「ファイル種別による判別」>「名前／拡張子による判別」>「*」の順
;・X_exts=1
;「ファイル種別による判別」+「名前／拡張子による判別」を上から >「*」の順
;
;・拡張子がないファイル
;「内容による判別」>「名前による判別」>「.」>「*」の順
;
;・ディレクトリ
;「:DIR」> ディレクトリ移動
;---------------------------------------------------------------------------
;** ユーザー定義
;---------------------------------------------------------------------------
; -|X_uftyp	=
; X_uftyp	= {
;:EDGE	= -4,EDGE
;:APD	= -6,AZPDATA
;:VCH	= 4-14,ContentType
; }
;---------------------------------------------------------------------------
;** ENTER
;---------------------------------------------------------------------------
-|E_cr	=
E_cr	= {
*	, *ifmatch .exe %: *linemessage !"不明な実行ファイル %: *stop
	*script %sgu'scripts'\launchViewer.js
; SPI	*ifmatch ax* %:%0..\spibench\spibm.exe %R %~FDC %:*stop
; SPH	*ifmatch ax* %:%0..\spibench\spibm.exe %R %~FDC %:*stop
;	%0..\spibench\spibench.exe -t 30 %R %~FDC
;SZ7	%j"%R::listfile"
:JPEG	, *script %sgu'scripts'\launchViewer.js,image
:BMP	, *script %sgu'scripts'\launchViewer.js,image
:PNG	, *script %sgu'scripts'\launchViewer.js,image
:GIF	, *script %sgu'scripts'\launchViewer.js,image
:WEBP	, *script %sgu'scripts'\launchViewer.js,image
; :VCH	, *script %sgu'scripts'\launchViewer.js,image
; :EDG	, *script %sgu'scripts'\launchViewer.js,image
:3GP	, *script %sgu'scripts'\launchViewer.js,movie
:AVI	, *script %sgu'scripts'\launchViewer.js,movie
:FLV	, *script %sgu'scripts'\launchViewer.js,movie
:MP4	, *script %sgu'scripts'\launchViewer.js,movie
:MPG	, *script %sgu'scripts'\launchViewer.js,movie
:QT	, *script %sgu'scripts'\launchViewer.js,movie
:EBML	, *script %sgu'scripts'\launchViewer.js,movie
:WEBM	, *script %sgu'scripts'\launchViewer.js,movie
:MP3	, audio %FDC
:WAV	, audio %FDC
:EXE	, %K"@Z"
:EXE32	, %K"@Z"
:EXE32C	, %K"@Z"
:EXEX64	, %K"@Z"
:EXEX64C	, %K"@Z"
:EXECLR	, %K"@Z"
:EXEDOS	, %K"@Z"
:HELP	, %K"@Z"
:HHELP	, %K"@Z"
:SCR	, %K"@Z"
;:DOCX	,%v%C\word\document.xml
:HTML.html	, browser %FDC
:DIR	= C_DIR
:7Z	= C_DIR
:CAB	= C_DIR
:GZIP	= C_DIR
:LHA	= C_DIR
:MSI	= C_DIR
:PDF	= C_DIR
:PKZIP	= C_DIR
:RAR	= C_DIR
:BZIP2	= C_DIR
:XLF	= C_DIR
:XGIT	= C_DIR
;:XVBS	, *script %R       ;PPxVBS
;:XJS	, *script %R       ;PPxJS
;MAKEFILE.	,%{MAKE %|%}
;MAK	,%{MAKE -f%C%}
}
;---------------------------------------------------------------------------
;** \ENTER
;---------------------------------------------------------------------------
-|E_scr	=
E_scr	= {
*	, *linemessage !"未登録
; CSV	, %0..\Cassava\Cassava.exe %FDC
;EXE	, %k"DOWN ENTER
;	%M?exjumpmenu
; :APD	, *AHK AzPainter2.ahk,%FDC
; :BMP	, *AHK EDGE.ahk,%FDC
; :EDGE	, *AHK EDGE.ahk,%FDC
; :GIF	, *AHK AzPainter2.ahk,%FDC
; :JPEG	, *AHK AzPainter2.ahk,%FDC
; :PNG	, *AHK AzPainter2.ahk,%FDC
; :VCH	, *AHK AzPainter2.ahk,%FDC
;:PDF	,
; :AVI	, viewer /newwnd %FDC ;massiGra 新規窓
; :FLV	, viewer /newwnd %FDC
;:3GP	, viewer %FDC
;:MP4	, viewer %FDC
;:MPG	, viewer %FDC
;:QT	, viewer %FDC
;:EBML	, viewer %FDC
;:WEBM	, viewer %FDC
:DIR	, *where -path:"%#;FC" -vfs -listfile:"%*temp(where.xlf)"
:7Z	, %M_xunpack,!L
:CAB	, %M_xunpack,!L
:GZIP	, %M_xunpack,!L
:LHA	, %M_xunpack,!L
:MSI	, %M_xunpack,!L
:PKZIP	, %M_xunpack,!L
:RAR	, %M_xunpack,!L
:XCFG	, *customize @%FDC
	*linemessage !"%R を読み込みました
}
;---------------------------------------------------------------------------
;** [U]用判別、使用できるDLLが無い時に使用
;---------------------------------------------------------------------------
-|E_unpack2	=
E_unpack2	= {     ; [U]用判別、使用できるDLLが無い時に使用
NULL	,
; ARC	,UNPACK %C %!2
; ARJ	,ARJ X %C %!2
;LZH	,LHA X %C %!2%\
;LZS	,LHA X %C %!2%\
;RAR	,UNRAR X %C %!2
; PMA	,PMA X %C %!2
;ZIP	,PKUNZIP -d %C %!2
; TAR	,TAR xvf %C -o %!2
; TAZ	,TAR xvf %C -o %!2
; TGZ	,TAR xvf %C -o %!2
; ??_	,EXPAND -r %C %!2
; *Z	,GZIP -d %C %!2
; BDF	,BUPDATE %C
; LDF	,LDF %C
; WUP	,WSP %C
;MSI	,msiexec /a "%C" targetdir="%!2" /qn
}
;---------------------------------------------------------------------------
;** Editor
;---------------------------------------------------------------------------
E_editor	= {
EXE	, *linemessage !"reject
:DLL	, *linemessage !"reject
:7Z	, *linemessage !"reject
:CAB	, *linemessage !"reject
:LZH	, *linemessage !"reject
:PKZIP	, *linemessage !"reject
:RAR	, *linemessage !"reject
:JPEG	, *linemessage !"reject
:PNG	, *linemessage !"reject
:BMP	, *linemessage !"reject
:DIR	= C_DIR
*	, *nvim args
}
;---------------------------------------------------------------------------
;** Viewer
;---------------------------------------------------------------------------
E_viewer	= {
:MP4	, %Obd mpv %R
:EBML	, %Obd mpv %R
}
;---------------------------------------------------------------------------
;** PPv
;---------------------------------------------------------------------------
-|XV_opts	=
XV_opts	= {     ; ファイル種別(E_xxx形式)=オプション
HTML	= -tag:on -css:off -script:off
EXE	= -hex
DLL	= -hex
:7z	= -hex
}
-|XV_cols	=
XV_cols	= {     ; 表示桁数=該当拡張子、全てに一致しなければ80、0:桁数最大 -1:窓幅に合わせる
0	= *
}
