PPxCFG  = 
;---------------------------------------------------------------------------
;@desc 情報表示, フォント, 窓位置
;@table _User, Mes0411, X_win, win_pos
;---------------------------------------------------------------------------
;・Font
;---------------------------------------------------------------------------
X_lspc	= 0	; 汎用フォントの行間隔
X_ffix	= 1	; 1=文字の右端が表示されない対策
F_mes	= -16,0,0,0,400,0,0,0,128,3,2,1,49,FirgeNerd Console,96	; 汎用
F_dlg	= -14,0,0,0,400,0,0,0,128,3,2,1,49,FirgeNerd COnsole,96	; ダイアログ
F_ctrl	= -14,0,0,0,400,0,0,0,128,3,2,1,49,FirgeNerd COnsole,96	; タブ・ヘッダ等
F_fix	= -17,0,0,0,450,0,0,0,128,3,2,1,49,PlemolJP HS Text,96	; PPv固定ピッチ
F_unfix	= -13,0,0,0,400,0,0,0,128,3,2,1,50,游ゴシック,96	; PPvプロポーショナル
F_con	= -16,0,0,0,400,0,0,0,128,3,2,1,49,FirgeNerd Console,96	; PPb(Vista以降)
;---------------------------------------------------------------------------
;・文字,背景,カーソル,マーク,書式
;---------------------------------------------------------------------------
XC_celD	= _AUTO,_AUTO,4,7
XC_stat	= _AUTO,_AUTO,3,0,gL2 I"" O"BLUE" p i"/" P S1 I"" mn i"/" e1 S1 I"" ms6 S1 O"BPURPLE" I" " Y O"BYELLOW" vi"gmBranchName" vi"gmBranchState" s0 / gL2 O"BGREEN" i"[" vi"cID" i"]" wR14 s0
XC_inf1	= _AUTO,BG,0,0,O"BLUE" i" " O"BGREEN" F s0

_User	= {
c_celD	= _AUTO,_AUTO,4,7
;c_inf2	= _AUTO,BG,0,0,O"BLUE" i" " A10 S1 I" " Du8 i"/" Dt8 S1 I" " i"%*js(PPx.Result=PPx.PPxVersion;)" S1 I" " cRM60 C60 s0
}
;---------------------------------------------------------------------------
;・ウインドウ位置
;---------------------------------------------------------------------------
X_win	= {
CA	= B001000001
CB	= B001000001
CX	= B100100100
}
_WinPos	= {
CBA	= 320,100,1032,674,1
}
